.dev-icons {
  padding-left: 0.5em;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.dark-menu i {
  color: #ffffff !important;
}

.software-skill-inline > i {
  color: #fa8a34;
}

.software-skill-inline > i:hover {
  color: #645beb;
}
.software-skill-inline > p {
  color: #eb8c43;
  font-size: 11px;
}
.software-skill-inline > i:hover ~ p {
  color: #645beb;
}
